<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="1" name="C:/Users/testi/selenium-project/MobileAutomationFramework">
        <classes>
            <class name="com.tmb.testcases.TapTests">
                <methods>
                    <include name="tapTests" />
                    <include name="swipeTests" />
                </methods>
            </class>
        </classes>
    </test>
</suite>